<%- include('layout'); -%>

  <title>Welcome to <%= title %> </title>
</head>
<body>

  <%- include('navbar', {page: "home"}); -%>

  
  <h1>Hello world</h1>
  <h2> todays date : <%= currentDate %> </h2>
</body>
</html>