<ul>
    
    <li> <a href="/" style="<%= (page=='home') ? 'background-color: aquamarine;' : '' %>">Home</a></li>
    <li> <a href="/add" style="<%= (page=='add') ? 'background-color: aquamarine;' : '' %>">Add new contact</a></li>
    <li> <a href="/mycontacts" style="<%= (page=='view') ? 'background-color: aquamarine;' : '' %>">View contacts</a></li>
    <li> <a href="/about" style="<%= (page=='about') ? 'background-color: aquamarine;' : '' %>">About Us</a></li>
  
    <!-- <% if(page=="add"){ %>
    <li> <a href="/add" style="background-color: aquamarine;">Add New Contact</a></li>
    <% } else { %>
        <li> <a href="/add">Add New Contact</a></li>
    <% } %>
        
    <li> <a href="/mycontacts">View Contact</a></li>
  
    <li> <a href="/about">About us</a></li> -->

   
</ul>